*{
    font-family: "微软雅黑"
}
// 登录页面
.pd_login .content-block{
    background-color: #373737;
    margin:0;
}
.pd_login .buttons-row{
    display: flex
}
.pd_login .buttons-row a{
    flex: 1;
    text-align: center;
}
.pd_login_t{
    background-color: #373737;
    margin: 0;
    padding:80px 0 20px 0;

}
.pd_login_t .buttons-row a{    
    color: #bfbfbf;
    position: relative;
}
.pd_login_t .buttons-row a.active:after{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    left:45%;
    top: 32px;
    background-color: #fff;
}
.pd_login_t .buttons-row a.active{
    color: #fff;
}
.pd_login .item-input{
    border-bottom: 1px solid #e8e8e8;
}
.member-icon{
   display: inline-block; 
   width: 20px;
   height: 20px;
   background: url(../img/member/member_icon.png) no-repeat;
} 
.member-icon.password{
   background-position: 0 0;
   position: absolute;
   right: 0px;
   top: 16px;
}
.pd_login .view .content-block .login_btn{
    background-color: #84c387;
    border: 1px solid #84c387;
}
a{
    color:#373737;
    font-family: "微软雅黑"
}
.pd_login  .quick_link{
    text-align: center;
    font-size: 14px;
}
.pd_login  .quick_link span{
    margin: 0 12px;
    color: #888888;
}
.pd_login .third_login .title{
    font-size: 14px;
    text-align: center;
    position: relative;
    color: #373737;
    margin-top: 23%;
    border-top: 1px solid #e8e8e8;
}
.pd_login .third_login .title>span{
  text-align: center;
  background-color:#fff;
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 4px 10px;
}
.member-icon.wechat{
    width:36px;
    height: 36px;
    background-position: -50px 0;
    margin-right: 4%;
}
.member-icon.qq{
    width:36px;
    height: 36px;
    background-position: -100px 0;
}
.member-icon.sina{
    width:36px;
    height: 36px;
    background-position: -150px 0;
}
.pd_login .third_icon{
    text-align: center;
}
.get_code{
    font-size: 14px;
    border: 1px solid #888888;
    color: #373737;
    display: inline-block;
    padding: 2px 3px;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    right: 0px;
}
.pd_quick_register .item-inner{
    border-bottom: 1px solid #e8e8e8;
}
.pd_quick_register .list-block>ul{
    padding-right: 15px;
}
.pd_quick_register .list-block .item-title.label{
    font-size: 16px;
    color: #383838;
}
.member-icon.password.hidepw{
    background-position: -200px 0;
    right: 0;
}
.pd_quick_register .get_code{
    right:0;
}
.register_btn{
    background-color: #84c387;
    border: 1px solid #84c387;
    border-radius: 2px;
    color: #fff;
}
.button.active{
    background-color: #319636;
    border: 1px solid #319636;
}
.text-center{
    text-align: center;
}
.border-btn .row .button{
    border: 1px solid #319636;
    background: #fff;
}
.border-btn .row .button {

    color: #319636;
}
.pwd-success .border-btn .row{
    width: 84%;
    margin-left: 8%;
}
.pwd-success .success_msg{
    margin: 50px 0;
    color: #373737;
    font-size: 16px;
}
.pwd-success .page-content .content-block img{
    margin-top: 18px;
}
.m_index .avatar_box{
    min-height: 160px;
    height: 24vh;
    background-color: #393939;
    margin:0;
}
.m_index .avatar_box img{
    margin-top: 39%;
}
.m_index .login-tips p:first-child{
    margin-top: 20px;
    font-size: 22px;
    color: #fff;
}
.m_index .login-tips p:last-child{
    font-size: 12px;
    color:#fff;
    margin-top: 6px;
}
.m_index .page-content{
    background-color: #f6f6f6;
}
.login-tips p a{
    color: #fff;
}
.member-icon.underpay{
    width: 26px;
    height: 26px;
    background-position: -250px 0;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.member-icon.undergo{
    width: 26px;
    height: 26px;
    background-position: -300px 0;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.member-icon.underremark{
    width: 26px;
    height: 26px;
    background-position: -350px 0;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.member-icon.refund{
    width: 26px;
    height: 26px;
    background-position: -400px 0;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.member-icon.all-order{
    width: 26px;
    height: 26px;
    background-position: -450px 0;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.m_index .index_sub_nav{
    margin: 15px 0;
    background-color: #fff;
    font-size: 12px;
}
.m_index .index_sub_nav .col-20{
   padding: 15px 0;
}
.m_index .index_sub_nav .col-20 span:last-child{
    margin-top: 5px;
    display: inline-block;
}
.m_index .index_sub_nav .col-20:last-child{
    border-left: 1px solid #cfcfcf;
}
.m_index .index_sub_nav .col-20:last-child:before{
    content: '';
    position: relative;
    display: block;
    width:8px;
    height: 8px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-top: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    background-color: #fff;
    left:-5px;
    top: 15px;
    float:left;
}
.m_index .my_wallet{
    margin:15px 0;
    background-color: #fff;
    padding: 0;
}
.m_index .my_wallet .title{
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    text-indent: 15px;
}
.m_index .my_wallet .title a{
    display: block;
}
.member-icon.mywallet{
    width: 20px;
    height: 20px;
    background-position: 0 -50px;
    line-height: 36px;
    top: 6px;
    margin-right: 6px;
    position: relative;
}
.member-icon.arrow-left{
    height: 16px;
    background-position: -50px -50px;
    float:right;
    position: relative;
    top:14px;
}
.m_index .my_wallet .row{
    padding: 10px 0;
}
.m_index .my_wallet .row p{
    line-height: 24px;
}
.m_index .my_wallet .row .col-33:nth-child(2){
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.remain_color{
    color: #ee5d6c;
    font-size: 18px;
}
.integral_color{
    color: #a0d468;
    font-size: 18px;
}
.card_color{
    color: #373737;
    font-size: 18px;
}
.member-icon.info{
    width: 22px;
    height: 22px;
    background-position: -100px -50px;
}
.m_index .pd_third_nav{
    background-color: #fff;
}
.member-icon.collection{
    width: 22px;
    height: 22px;
    background-position: -150px -50px;
}
.member-icon.history{
    width: 22px;
    height: 22px;
    background-position: -200px -50px;
}
.member-icon.comment{
    width: 22px;
    height: 22px;
    background-position: -250px -50px;
}
.m_index .pd_third_nav .col-25{
    border-right: 1px solid #e8e8e8;
    padding: 16px 0;
}
.member-icon.feedback{
    width: 16px;
    height: 17px;
    background-position: -300px -50px;
}
.m_index .footer_link .item-link .item-inner{
    background-image:none;
    padding-right: 0;
}
.m_index .footer_link{
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.m_index .footer_link .member-icon.arrow-left{
    top: 2px;
}
.m_index .footer_link .item-title{
    font-size: 14px;
}
.member-icon.safeguard{
    width: 16px;
    height: 18px;
    background-position: -350px -50px;
}
.member-icon.aboutus{
    width: 16px;
    height: 16px;
    background-position: -400px -50px;
}
.bottom_default{
    margin: 70px;
}
.m_index .footer_link .item-link .item-inner{
    border-bottom: 1px solid #e8e8e8;
}
.m_index .footer_link ul> li:last-child .item-link .item-inner{
    border-bottom: none;
}
.member-icon.home{
    width: 20px;
    height: 20px;
    background-position: 0 -150px;
}
.member-icon.order{
    width: 16px;
    height: 20px;
    background-position: -50px -150px;
}
.member-icon.local{
    width: 20px;
    height: 20px;
    background-position: -100px -150px;
}
.toolbar.tabbar-labels{
    border-top:1px solid #e8e8e8
}
.member-icon.periphery{
    width: 20px;
    height: 20px;
    background-position: -150px -150px;
}
.member-icon.my{
    width: 20px;
    height: 20px;
    background-position: -200px -150px;
}
.toolbar.tabbar-labels a.active .tabbar-label{
    color: #349039;
}
.toolbar.tabbar-labels span{
    margin-top: 3px;
}
.views.commoninfo{
    background-color: #f6f6f6;
}
.commoninfo .commoninfo_nav{
    margin: 0 auto;
    background-color: #fff;
    line-height: 46px;
    height: 46px;
}
.commoninfo .commoninfo_nav a{
    line-height: 46px;
    height: 46px;
}
.commoninfo .commoninfo_nav .buttons-row{
    width: 60%;
    margin: 0 auto;
}
.commoninfo .commoninfo_nav .buttons-row .button.active{
    background-color: #fff;
    border: none;
    border-radius: 0;
    color: #319636;
    border-bottom: 2px solid #319636;
}
.commoninfo .commoninfo_nav .buttons-row .button:first-child{
    border-left:none;
    border-radius: none;
}
.commoninfo .commoninfo_nav .buttons-row .button{
    color: #383838;
}
.commoninfo .commoninfo_nav .buttons-row .button{
    font-size: 16px;
}
.commoninfo .info_item{
    margin:0;
    padding: 0;
    background-color: transparent;
}
.commoninfo .info_item .media-list ,.commoninfo .info_item .media-list ul{
    background-color: transparent;
}
.commoninfo .info_item .media-list ul li{
    border-bottom: 1px solid #e6e6e6;
    margin: 0 15px;
}
.commoninfo .info_item .list-block.media-list .item-link .item-title-row{
    background-image: none;
}
.commoninfo .info_item .media-list ul li{
    position: relative;
}
.commoninfo .info_item .media-list ul li:after{
    content: '';
    width:8px;
    height: 8px;
    border-top: 1px solid #1e1e1e;
    border-right: 1px solid #1e1e1e;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    right:0;
    top:40%;

}
.commoninfo .info_item .media-list ul li .item-title{
    color: #373737;
}
.commoninfo .info_item .list-block .item-text{
    font-size: 12px;
    color: #888888;
    line-height: 16px;
    margin-top:2px;
}
.commoninfo .info_item .list-block .item-text p{
    line-height: 18px;
}
.add_new_btn{
    width:40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #319636;
    position: relative;
    left:44%;
    right:0;
    margin: 0 auto;
    top: 20px;
    cursor: pointer;
    margin-bottom: 70px;
    
}
.add_new_btn:before{
    content: '';
    width: 20px;
    height: 2px;
    background-color: #319636;
    position: absolute;
    left:10px;
    top:50%;
}
.add_new_btn:after{
    content: '';
    width: 20px;
    height: 2px;
    background-color: #319636;
    position: absolute;
    left:10px;
    top:50%;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.commoninfo .info_item .list-block .item-text p:last-child{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.add_customer .list-block .item-content{
    margin:0 15px;
    border-bottom: 1px solid #e8e8e8;
}
.add_customer .list-block .item-content{
    padding-left: 0;
}
.member-icon.name{
    display: inline-block;
    width: 17px;
    height: 16px;
    background-position: -250px -100px;
    margin-left: 6px;
    margin-right: 12px;
    position: relative;
    top:3px;
}
.add_customer .list-block .item-title.label{
    color: #383838;
    font-size: 16px;
}
.member-icon.gender{
    display: inline-block;
    width: 17px;
    height: 16px;
    background-position: -300px -100px;
    margin-left: 6px;
    margin-right: 12px;
    position: relative;
    top:3px;
}
.member-icon.calendar{
    display: inline-block;
    width: 17px;
    height: 16px;
    background-position: -350px -100px;
    margin-left: 6px;
    margin-right: 8px;
    position: relative;
    top:3px;
}
.member-icon.phone{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: -400px -100px;
    margin-left: 6px;
    margin-right: 11px;
    position: relative;
    top: 2px;
}
.member-icon.email{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: -450px -100px;
    margin-left: 6px;
    margin-right: 11px;
    position: relative;
    top: 6px;
}
.member-icon.idcard{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: -250px -150px;
    margin-left: 6px;
    margin-right: 11px;
    position: relative;
    top: 4px;
}
.member-icon.default_visitor{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: -300px -150px;
    margin-left: 6px;
    margin-right: 11px;
    position: relative;
    top: 2px;
}
.member-icon.region{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: -350px -150px;
    margin-left: 6px;
    margin-right: 11px;
    position: relative;
    top: 2px;
}
.member-icon.detail_address{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: -400px -150px;
    margin-left: 6px;
    margin-right: 11px;
    position: relative;
    top: 2px;
}
.member-icon.zip_code{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: -450px -150px;
    margin-left: 6px;
    margin-right: 11px;
    position: relative;
    top: 2px;
}
.member-icon.right{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: 0 -200px;
    margin-left: 6px;
    margin-right: 11px;
    position: relative;
    top: 4px;
}
.security-center .list-block .item-after{
    font-size: 14px;
    color: #888888;
}
.security-center .list-block .item-after.active{
    color: #319636;
}
.security-center .list-block .item-link .item-inner{
  background-image:none;
  padding-right:0;
  margin-right: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.security-center .member-icon.arrow-left.active{
    top: 4px;
    margin-left:8px;
    background-position: -50px -200px;
    width: 7px;
}
.member-icon.warning{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: -100px -200px;
    margin-left: 6px;
    margin-right: 11px;
    position: relative;
    top: 4px;
}

.security-center .member-icon.arrow-left.un_active{
    top: 4px;
    margin-left:8px;
    background-position: -150px -200px;
    width: 7px;
}
.list-block .item-inner{
    margin-right: 15px;
}
.aboutus  .page-content .list-block .item-content{
    padding-left:0;
    margin-left: 15px;
}
.aboutus  .page-content .list-block .item-content{
    border-bottom: 1px solid #e8e8e8;
    margin-right: 15px;
}
.aboutus  .page-content .list-block .item-link .item-inner{
    background-image: none;
    padding-right:0;
    margin-right:0;
}
.aboutus  .page-content .list-block ul li{
    position: relative;
}
.aboutus  .page-content .list-block ul li:after{
    content: '';
    width:8px;
    height: 8px;
    border-top: 1px solid #1e1e1e;
    border-right: 1px solid #1e1e1e;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    right:17px;
    top:40%;
}
.aboutus  .page-content .list-block ul{
    height: 88vh;
}
.changepassword .list-block .item-inner{
    border-bottom: 1px solid #e8e8e8;
}
.verifiphone .list-block .item-inner{
    border-bottom: 1px solid #e8e8e8;
}
.pd_btn{
    background-color: #84c387;
    border: 1px solid #84c387;
    border-radius: 2px;
    color: #fff;
}
.add_customer .list-block .item-inner{
    margin-right:0;
    padding-right:0;    
}
.picker{
    z-index:9999999;
}
#add_address_area{
    display: inline-block;
    font-size: 16px;
    color: #383838;
}
.list-block .item-title{
    color: #383838;
    font-size: 16px;
}
.m_index .footer_link .member-icon.arrow-left{
    width:10px;
}
.m_index .my_wallet .member-icon.arrow-left{
    width:25px;
}
.add_customer .list-block input{
    font-size: 16px;
}
.list-block input{
    font-size: 16px;
}
.pd_login .list-block .item-inner{
    padding-right:0;
}
.pd_login .list-block input[type="text"], .pd_login .list-block input[type="password"]{
    font-size: 16px;
}
.pd_quick_register .list-block input[type="text"],.pd_quick_register .list-block input[type="password"]{
    font-size: 16px;
}
.pd_quick_register .list-block .item-inner{
    margin-right: 0;
}
.verifiphone .list-block .item-title.label{
    font-size: 16px;
}
.verifiphone .list-block input[type="text"]{
    font-size: 16px;
}
.changepassword .list-block .item-title.label{
    font-size: 16px;
}
.changepassword .list-block input[type="text"], .changepassword .list-block input[type="password"]{
    font-size: 16px;
}
.member-icon.personal-data{
    width: 20px;
    height: 20px;
    background-position: -200px -200px;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.navbar a.icon-only{
    min-width: 20px;
}
.personal_data .list-block .item-inner{
    border-bottom: 1px solid #e8e8e8;
    padding-right: 0;
}
.personal_data .list-block .item-title{
    color: #919191;
    font-size: 16px;
}
.personal_data .list-block  .item-after{
    color: #383838;
    font-size: 16px;
}
.personal_data .list-block li:first-child {
    height: 60px;

}
.personal_data .list-block li:first-child img{
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    top: -6px;
    right: 8px;
}
.personal_data  .member-icon.arrow-left{
    width: 8px;
    top: 9px;
}
.personal_data .content-block .button-big.warning{
    background-color: #fc6e51;
    color: #fff;
}
.member-icon.arrow-right2{
    width: 16px;
    height: 16px;
    background-position: -250px -200px;
    display: block;
    position: relative;
    top: 6px;
    right: -2px;
    margin-left: 4px;
}
.edit_personal_data .list-block .item-inner{
    border-bottom: 1px solid #e8e8e8;
}
.edit_personal_data  .list-block .item-title.label{
    font-size: 16px;
    color: #919191;
}
.edit_personal_data .list-block input[type="text"]{
    font-size: 16px;
    color: #383838;
}
.button-big.save{
    background-color: #319636;
    color: #fff;

}
.edit_personal_data .item-inner .item-input .account{
    color:#919191;
    font-size: 16px;
}
.toolbar .toolbar-inner a.active .member-icon{
    background-position-y:-100px;
}
html.ios-gt-8 .navbar .center{
    font-weight: 400;
    font-size: 16px;
}
.avatar_box .row a{
    position: relative;
    display: inline-block;
}
.m_index .avatar_box img.avator_circle_base{
    position: absolute;
    top:-8px;
    left:-8px;
}
.m_index .avatar_box img.avator_circle_round{
    position: absolute;
    top:-8px;
    left:-8px;
    -webkit-animation:circle 6s infinite linear;
}
@-webkit-keyframes circle{
    0%{ transform:rotate(-360deg); }
    100%{ transform:rotate(0deg); }
}
.default_btn_green{
    background-color: #84c387;
    border: 1px solid #84c387;
    border-radius: 2px;
    color: #fff;
}