/**********************************************
    Author: Geek.Yu
	Create time:  2017-03-18 11:34
	Application: new framework7css frame style and cover part of the style

	作者：喻文强
	创建时间： 2017-03-18 11:34
	主要用途： 订单也和支付页公用的样式表

************************************************/


/* ==========================================================================
   基础样式
   ========================================================================== */
@charset "utf-8";

html {
    line-height: 1.4;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html * {
    outline: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  
html,
body,
input {
    font-family: Arial,Helvetica,sans-serif,"Hiragino Sans GB";
    color: #313536;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
/* 去掉各 Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 去除默认边框 */
fieldset,
img {
  border: 0;
}
/* 去掉 firefox 下此元素的边框 */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
/* 去掉列表前的标识, li 会继承 */
ol,
ul {
  list-style: none;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,
th {
  text-align: left;
}
/* 来自 yahoo, 让标题都自定义, 适应多个系统应用 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: '';
}
/* 统一上标和下标 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/* 默认不显示下划线，保持页面简洁 */
ins,
a {
  text-decoration: none;
}

/*快捷边框线类*/
.border-top-solid{
    border-top: 1px solid #f0f0f0;
}
.border-right-solid{
    border-right: 1px solid #f0f0f0;
}
.border-bottom-solid{
    border-bottom: 1px solid #f0f0f0;
}
.border-left-solid{
    border-left: 1px solid #f0f0f0;
}

/*
 * 对齐及浮动
 */
.clearfix{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

.top,
.left,
.bottom,
.right{
    position: absolute;
} 
.top{
    top: 0;
}
.left{
    left: 0;
}
.bottom{
    left: 0;
}
.right{
    right: 0;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}


/*
 * 垂直布局 和 完全居中布局
 */
.vertical-layout{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.complete-center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/*
 * 禁止用户选中文字
 */
.user-unselect{
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}


/* ==========================================================================
   熊猫旅行移动端的主要样式
   ========================================================================== */

html,body {
    display: block;
    font-size: 12px;
    color: #313536;
}

a{
	color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    display: block;
}
button{
    cursor: pointer;
}
button,input{ 
    outline: none; 
}
ul,li{
    margin: 0; 
    padding: 0; 
    list-style: none;
}
section,div,span,em,i,p,h1,h2,h3,h4,h5,h6{
    cursor: default;
}
a,a *{
    cursor: pointer;
}
em,i{
    font-style: normal;
}
em{ margin: 0 3px; }

.imgWrap img{
    width: 100%;
    height: 100%;
}
.unit-money em::before{
    content: "￥";
    font-size: .8em;
    color: inherit;
}

/*盒子布局，border-box移动端精准布局模式*/
.box-sizing,
.box-sizing *{
    box-sizing: border-box;
}



/*支付成功*/
.prompt-title-box{
    height: 4.2rem;
    background-color: #349039;
    color: #f5f5f5;
    text-align: center;
}
.prompt-title-box > *{
    display: block;
}
.prompt-title-box i{
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-top: 1rem;
}
.prompt-title-box .slogan{
    line-height: .8rem;
    height: .8rem;
    font-size: 17px;
    letter-spacing: 3px;
    text-indent: 3px;
    margin-top: .1rem;
}
.prompt-info-content{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}
.content-inner{
    padding: .25rem .35rem;
}
.prompt-info-content .info-list{
    margin-bottom: 1rem;
    margin-top: .25rem;
}
.info-list section.info-item{
    height: .8rem;
    line-height: .8rem;
}
.info-list section.info-item > *{
    display: inline-block;
    letter-spacing: 1px;
    text-indent: 1px;
}
.info-list section.info-item span{
    width: 72px;
    text-align: right;
    font-size: 12px;
    color: #959595;
}
.info-list section.info-item p.value{
    font-size: 14px;
}
.info-list em{
    margin: 0;
}
.prompt-info-content .botton-box{
    padding: 0 .2rem;
    margin-bottom: .4rem;
}
.botton-box a.col-50{
    width: 50%;
    width: -webkit-calc((100% - 0.35rem*1)/ 2);
    width: calc((100% - .35rem*1)/ 2);
    height: 1.1rem;
    line-height: 1.1rem;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 4px;
    text-indent: 4px;
    -webkit-transition: all .08s;
    transition: all .08s;
}
.botton-box a.btn-01{
    border: 1px solid rgba(52,144,57,.35);
    color: #349039;
}
.botton-box a.btn-01:active{
    border: 1px solid #349039;
    color: #fff;
    background-color: #349039;
}
.botton-box a.btn-02{
    color: #777;
}
.botton-box a.btn-02:active{
    color: #313536;
}

/*温馨提示*/
.warm-tips-box{
    position: relative;
    padding-left: .75rem; 
}
.warm-tips-box .content-inner{
    padding-top: .4rem;
}

.warm-tips-box i.icon{
    position: absolute;
    left: .35rem;
    top: .35rem;
    font-size: .55rem;
    color: #349039;
}
.warm-tips-box section.info{
    line-height: .5rem;
    font-size: 12px;
    letter-spacing: 1px;
    color: #777;
}

/*系统提示*/
.sys-prompt-info{
    line-height: 1rem;
    height: 1rem;
    font-size: 12px;
    color: #777;
    padding: 0 .25rem;
    overflow: hidden;
}

.sys-prompt-info em{
    font-size: 15px;
    letter-spacing: 1px;
    text-indent: 1px;
    color: #f43;
    margin: 0 3px;
}

/*支付信息框*/
.fold-group-box{
    background-color: #fff;
}